body{
    margin: 1% 4%;
    text-align: center;
}

header{
    display: block;
    padding: 5% 0;
    border: 1px solid;
}

section{
    display: block;
}   
div {
    display: block;
    border: 1px solid;
}