#main{
    display: grid;
    grid-template-columns: 1fr;
}
 .b{
    padding: 5%;
 }
 /* ........................... */
 #container-group-b{
     display: grid;
     grid-template-columns: 1fr; 
 }

 .grid-item{
   padding: 5%;
 }

 #container-group-c{
     display: grid;
     grid-template-columns: 1fr 1fr;
 }
 .article{
     padding: 5%;
 }
 /* ................................... */
 .i{
     padding: 5%;
 }