@media( min-width: 1024px){
     #main{
         grid-template-columns: 1fr 4fr;
     }

     #container-group-c{
         grid-template-columns: 1fr 1fr 1fr 1fr;
     }
     .article{
        padding: 19%;
    }
}

@media( min-width: 768px ) and ( max-width:1000px){
    #container-group-b{
        grid-template-columns: 1fr 1fr;
    }
    .article{
       padding: 5%;
   }
}