
@media( min-width:768px){
    .div-item{
        padding: 5% 0;
        display: inline-block;
        width: 49%;
    }
    .article-container article{
        width: 23.9%;
    }
    main {
        position: relative;
    }
    main> section{
        display: inline-block;
    }

    main> section:first-child{
        position: absolute;
        width: 20%;
        top:0;
        bottom: 0;
        left: 0;
    }
    main> section:nth-child(2){
        position: relative;
        left :10%;
        width: 80%;
    }
}